body{
    margin: 0px;
}
.header{
    background: lightseagreen;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.phead{
    color: white;
}
.learn{
    color: white;
}
.subhead{
    display: inline;
}
ul{
    display: inline;
    margin-top: 20px;
    text-decoration: none;
    margin: 20px;
}
li{
    margin: 20px;
    text-decoration: none;
    
}
.list{
    display: inline;
    margin: 20px;
    text-decoration: none;
}
.pri{
    display: inline;
    margin: 20px;
    text-decoration: none;
    color: deepskyblue;
}
a{
    text-decoration: none;
    color:  black;
}
.parent{
    list-style-type: none;
    padding: 0px;
    width: 200px;
    color: deepskyblue;
}
.dropelement{
    list-style-type: none;
    background: white;
    visibility: hidden;
    position: absolute;
    left: -70px;
    width: 250PX;
    margin-top: 20px;    
    border-style: ridge;
    color: black;
}
.dropelement li{
    /* padding: 5px; */
}
.parent:hover .dropelement{
    visibility: visible;
}
.parent:hover li:hover{
    color: deepskyblue;
    cursor: pointer;
    color: black;
}
.data{
    margin-top: 20px;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}
.datap{
    font-size: 11px;
    font-family: Arial;
}
.com{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
} 
.img{
    margin: 20px;
}
h2{
    text-align: center;
    font-weight: 400;
}
button{
    padding: 15px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}
.but{
    background: deepskyblue;
    border: none;
    margin-top: 50px;
    margin-bottom: 10px;
}
.suphead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}
.subhead{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.headi{
    display: none;
}
.usee{
    background-color: gainsboro;
}
.useh{
    text-align: center;
    padding-top: 30px;
}
.use{
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
}
.used{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.usep{
    text-align: justify;
    font-size: 18px;
    /* width: 600px; */
    /* padding: 60px; */
}
.uses{
    font-size: 25px;
}
.dis{
    padding: 20px;    
}
.disd{
    display: flex;
    flex-direction: row;
}
.disp{
    /* display: flex;
    justify-content: space-around;
    align-content: space-around; */
}
.diss{
    text-align: justify;
    font-size: 18px;
    /* width: 600px; */
    /* padding: 60px; */
}
.dist{
    font-size: 30px;
}
.track{
    padding: 50px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around;
    align-content: space-around; */
}
.trackp{
    text-align: justify;
    font-size: 18px;
    /* width: 600px;
    padding: 60px; */
}
.tracks{
    font-size: 20px;
}
.inf{
    padding: 20px;    
}
.infd{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around;
    align-content: space-around; */
}
.infp{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.infs{
    text-align: justify;
    font-size: 18px;
    /* width: 600px;
    padding: 60px; */
}
.inft{
    font-size: 30px;
}
.auto{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.autop{
    text-align: justify;
    font-size: 18px;
    /* width: 600px;
    padding: 60px; */
}
.autos{
    font-size: 20px;
}
.cus{
    padding: 20px;
}
.cusd{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
/* .cusp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
} */
.cuss{
    text-align: justify;
    font-size: 18px;
    /* width: 600px;
    padding: 60px; */
}
.cust{
    font-size: 20px;
}
.expo{
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.expop{
    text-align: justify;
    font-size: 18px;
    /* width: 600px;
    padding: 60px; */
}
.expos{
    font-size: 20px;
}
.deal{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
}
.dealh{
    padding-top: 20px;
    text-align: center;
}
.mid{
    display: flex;
    flex-direction: row;
}
.mids{
    width: 400px;
    height: 150px;
    background-image: url(investors.jpg );
    background-size: cover;
    padding: auto;
    list-style: none;
    text-align: center;
    color: white;
}
.midt{
    width: 400px;
    height: 150px;
    background-image: url(sales.jpg );
    background-size: cover;
    list-style: none;
    text-align: center;
    color: white;
}
.midp{
    width: 400px;
    height: 150px;
    background-image: url(profservices.jpg );
    background-size: cover;
    list-style: none;
    text-align: center;
    color: white;
}
.midparent{
    list-style-type: none;
    padding: 0px;
    width: 200px;
    color: white;
}
.middropelement{
    background: ;
    list-style-type: none;
    visibility: hidden;
    position: absolute;
    width: 350PX;
    margin-top: 20px;   
    color: white;
    font-size: 16px;
    margin-left: -200px;
}
.middropelement li{
    /* padding: 5px; */
}
.midparent:hover .middropelement{
    visibility: visible;
}
.midparent:hover li:hover{
    cursor: pointer;
    color: white;
}
.mill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    /* padding-left: 200px; */
}
h3{
    color: darkorchid;

}
.millh{
    font-size: 40px;
}
.millp{
    font-size: 25px;
}
.buts{
    background: greenyellow;
    border: none;
    margin-top: 50px;
    margin-bottom: 10px;
    margin: 30px;
    font-size: 30px;
}
.butp{
    font-size: 12px;
    font-family: Arial;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 20px;
    margin-left: 10px;
}
.milli{
    margin-top: 0px;
    font-size: 20px;
}
.footer{
    background: darkslategrey;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding-top: 50px;
}
@media (max-width: 768px) {
    marquee{
        visibility: hidden;
    }
    .header{
        flex-direction: column;
        width: fit-content;
    }
    .heade{
        width: fit-content;
    }
    .suphead{
        visibility: hidden;
    }
    .headi{
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .iparent:hover .dropelement{
        visibility: visible;
    }
    .iparent:hover li:hover{
        cursor: pointer;
        color: white;
    }
    .datai{
        visibility: hidden;
    }
    .com{
        flex-direction: column;
    }
    .use{
        flex-direction: column;
        width: fit-content;
    }
    .useh{
        font-size: 50px;
    }
    .uset{
        width: 400px;
    }
    .disd{
        flex-direction: column;
        width: 100%;
        font-size:12px;
    }
    .diss{
        width: 400px;
    }
    .track{
        flex-direction: column;
    }
    .tracki{
        width: 400px;
    }
    .infd{
        flex-direction: column;
    }
    .infi{
        width: 400px;
    }
    .auto{
        flex-direction: column;
    }
    .autoi{
        width: 400px;
    }
    .cusd{
        flex-direction: column;
    }
    .cusi{
        width: 400px;
    }
    .expo{
        flex-direction: column;
    }
    .expos{
        font-size: 18px;
    }
    .expoi{
        width: 400px;
    }
    .mid{
        flex-direction: column;
    }
    .mill{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    .footeri{
        padding: 10px;
    }
    .submenu{
        visibility: hidden;
    }
    .fa{
        visibility: visible;
        .submenu{
            visibility: visible;
        }
    }

      
}
  